<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<button class="layui-btn" onclick="window.location.href='/goods'">转到商品页面</button>
<table id="cart"></table>
<div style="text-align: center;">
    <button onclick="submitOrder()" class="layui-btn layui-btn-normal">提交订单</button>
</div>

<script src="/static/layui/layui.js"></script>
<script src="/static/jquery/jquery-2.1.1.min.js"></script>
<script>
    layui.use('table', function() {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#cart'
            ,url: '/getCart' //数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头
                    {field: 'action',title:'商品名',templet:function (data) {
                        var divs = "<div class='layui-row' style='text-align: center' >" +
                            "<div class='layui-col-md9' id='name"+data.id+"'>"+data.name+"</div>";
                        return divs;
                    }
                }
                    ,{field: 'action',title:'数量',templet:function (data) {
                        var inputs = "<div style='text-align: center' >" +
                            "<input class='layui-input' onchange='updateTotalPrice("+data.id+")' value='"+data.num+"' type='number' min='1' id='input"+data.id+"'></button>";
                        return inputs;
                    }
                }
                ,{field: 'action',title:'单价',templet:function (data) {
                        var divs = "<div class='layui-row' style='text-align: center' >" +
                            "<div class='layui-col-md9' id='price"+data.id+"'>"+data.price+"</div>";
                        return divs;
                    }
                }
                    ,{field: 'action',title:'总价',templet:function (data) {
                        var divs = "<div class='layui-row' style='text-align: center' >" +
                            "<div class='layui-col-md9' id='totalPrice"+data.id+"'>"+parseFloat(data.num * data.price).toFixed(1)+"</div>";
                        return divs;
                    }
                }
                    ,{field: 'action',title:'操作',templet:function (data) {
                        var buttons = "<div style='text-align: center' >" +
                            "<button class='layui-btn layui-btn-xs layui-btn-normal' onclick='updateCart("+data.id+")'>修改</button>"+
                            "<button class='layui-btn layui-btn-xs layui-btn-danger' onclick='deleteGood("+data.id+")'>删除</button>"+
                                "</div>";
                        return buttons;
                    }
                }
                ]
            ]
        });
    });
    
    function updateCart(id) {
        let num = parseInt($("#input"+id).val());
        $.ajax({
            method:"get",
            url:"/updateCart",
            data:{
                id:id,
                num:num
            },
            success:function () {
                location.reload();
            }
        })
    }
    
    function deleteGood(id) {
        $.ajax({
            method:"delete",
            url:"/deleteGood",
            data:{
                id:id
            },
            success:function () {
                location.reload();
            }
        })

    }

    function updateTotalPrice(id) {
        let num = parseInt($("#input"+id).val());
        let price = parseFloat($("#price"+id).html());
        $("#totalPrice"+id).html(parseFloat(num*price).toFixed(1));
    }

    function submitOrder() {
        $.ajax({
            method:"put",
            url:"/submitOrder",
            success:function () {
                layer.open({
                    type: 0,
                    content: '订单提交成功' //这里content是一个普通的String
                });
            }
        })
    }
</script>
</body>
</html>